<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Какой то человек</title>
</head>
<body>

<h1>Майкл Фелпс</h1>
<img src="https://swim-chaika.by/uploads/s/l/a/l/lalh60ka51fr/img/full_RVbs07Ej.jpg" width="700" height="400"/>
<br>
<h2>Привет, Я Майкл Фелпс - феномен в мире спорта</h2>
<h3><a href="https://swim-chaika.by/novosti/phelps-michael"> Сайт на котором рассказывают обо мне любимом </a></h3>
<p><strong>У меня больше всех олимпийских наград за всю историю</strong> </p>
<p><ins>Я за одну олимпиаду завоевал 8 золотых медалей</ins></p>
<p><div>Так же,<em> Я <mark>26</mark>-кратный чемпион мира в 50-метровом бассейне,</em> многократный рекордсмен мира.</div><br>
<div>Абсолютный рекордсмен по количеству золотых наград <mark>(23)</mark> и наград в сумме <mark>(28)</mark> <strong>в истории Олимпийских игр,</strong>></div><br>
а также золотых наград <mark>(26)</mark> и наград в сумме <mark>(33)</mark> в истории чемпионатов мира <del>по водным видам спорта.</del></p>
</body>
</html>